.footer{
	display: none;
  text-align: center;
  padding-top: 25px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #03236d;
}

.footer a{
  color: #03236d;
  text-decoration: none;
  font-weight: 700;
}
